* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    font: 12px Microsoft YaHei, arial, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: #f39800;
    text-decoration: none;
}

.list-title{
    display: inline-block;
    width: 100%;
    max-width: 200px;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    background: #FFF;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #f39800;
    font-weight: bold;
    cursor: pointer;
}
h1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
}

h1 a {
    color: #f39800;
    font-size: 16px;
}

.accordion {
    width: 100%;
    max-width: 200px;
    border: solid 1px #ccc;
    background: #FFF;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}
.accordion li{
    cursor: pointer;
}
.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.left{
    float: left;
    width: 25%;
}

.right{
    float: left;
    margin-left: 5%;
    width: 60%;
}

.file{
    margin: 5% 5% 5% 5%;
}
.filename{
    width: 50px;
    margin-left: 10%;
}
.time{
    margin-left: 10%;
}
.delete{
    margin-left: 10%;
}
.share{
    margin-left: 10%;
}
.about-info{
    margin-top: 10px;
    margin-bottom:10px;
    color: #ff653c
}